<form [formGroup]="form" (ngSubmit)= "guardarUsuario()">
  <div class="form-group">
      <div class="input-group">
          <div class="input-group-prepend">
               <div class="input-group-text bg-white">
                  <i class="fas fa-user-circle " [class.green-icon] ="this.form.get('cedulaUsuario')"></i>
               </div>
          </div>
          <input type="text" class="form-control" formControlName="cedulaUsuario" placeholder="cedulaUsuario">
      </div>
  </div>
  <div class="form-group">
      <div class="input-group">
          <div class="input-group-prepend">
               <div class="input-group-text bg-white">
                  <i class="fas fa-credit-card"></i>
               </div>
          </div>
          <input type="text" class="form-control" formControlName="nombreUsuario" maxlength="16" placeholder="nombreUsuario">
      </div>
  </div>
  <div class="form-group">
    <div class="input-group">
        <div class="input-group-prepend">
             <div class="input-group-text bg-white">
                <i class="fas fa-credit-card"></i>
             </div>
        </div>
        <input type="text" class="form-control" formControlName="apellidosUsuario" maxlength="16" placeholder="apellidosUsuario">
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
        <div class="input-group-prepend">
             <div class="input-group-text bg-white">
                <i class="fas fa-credit-card"></i>
             </div>
        </div>
        <input type="text" class="form-control" formControlName="enfoque" maxlength="16" placeholder="enfoque">
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
        <div class="input-group-prepend">
             <div class="input-group-text bg-white">
                <i class="fas fa-credit-card"></i>
             </div>
        </div>
        <input type="text" class="form-control" formControlName="experiencia" maxlength="16" placeholder="experiencia">
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
        <div class="input-group-prepend">
             <div class="input-group-text bg-white">
                <i class="fas fa-credit-card"></i>
             </div>
        </div>
        <input type="text" class="form-control" formControlName="email" maxlength="16" placeholder="email">
    </div>
  </div>
  <div class="form-group">
      <button type="submit" class="btn btn-success btn-lg btn-block">
        <i class="fas fa-database"></i>  Aceptar
      </button>
  </div>
</form>
