<div class="row">
    <div class="col-md-5">
        <form [formGroup]="form" enctype="multipart/form-data" (ngSubmit) ="savePdf()">
            <div class="form-group">
                <div class="col-md-10">
                    <p>Upload File</p>
                    <input class="form_control" name="files" id = "file" type="file"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" class="btn btn-success"  value="Upload">
                </div>
            </div>
        </form>
    </div>

</div>
